/.vscode
/datasets
/logs
/unittest.py
models/__pycache__/attention.cpython-310.pyc
models/__pycache__/decoder.cpython-310.pyc
models/__pycache__/encoder.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
configs/__pycache__/default_rl.cpython-310.pyc
models/__pycache__/__init__.cpython-310.pyc
models/__pycache__/model.cpython-310.pyc
utils/__pycache__/__init__.cpython-310.pyc
utils/__pycache__/data_utils.cpython-310.pyc
utils/__pycache__/exp_utils.cpython-310.pyc
temp.ipynb
viz.png
viz
configs/__pycache__/default_rl_step.cpython-310.pyc
configs/__pycache__/__init__.cpython-310.pyc
legacy/models_07_26/__init__.py
legacy/models_07_26/attention.py
legacy/models_07_26/decoder.py
legacy/models_07_26/encoder.py
legacy/models_07_26/model.py
legacy/models_07_26/__pycache__/__init__.cpython-310.pyc
legacy/models_07_26/__pycache__/attention.cpython-310.pyc
legacy/models_07_26/__pycache__/decoder.cpython-310.pyc
legacy/models_07_26/__pycache__/encoder.cpython-310.pyc
legacy/models_07_26/__pycache__/model.cpython-310.pyc
playground.ipynb
configs/__pycache__/default.cpython-310.pyc
dum.pkl
hf.ipynb
configs/__pycache__/debug.cpython-310.pyc
configs/__pycache__/tsp50_seg25_exp1.cpython-310.pyc
evaluation/bresson/checkpoint/checkpoint_22-08-05--16-25-19-n50-gpu6.pkl
evaluation/bresson/logs/22-08-05--16-25-19-n50-gpu6.txt

evaluation/bresson/__pycache__/train_tsp50.cpython-310.pyc
evaluation/bresson/checkpoint/checkpoint_22-08-05--16-25-19-n50-gpu6.pkl
evaluation/bresson/checkpoint/checkpoint_22-08-05--19-43-13-n50-gpu5.pkl
evaluation/bresson/checkpoint/checkpoint_22-08-05--20-55-48-n50-gpu5.pkl
evaluation/bresson/checkpoint/checkpoint_22-08-07--16-36-01-n50-gpu5.pkl
evaluation/bresson/logs/22-08-05--16-25-19-n50-gpu6.txt
evaluation/bresson/logs/22-08-05--19-32-38-n50-gpu5.txt
evaluation/bresson/logs/22-08-05--19-43-13-n50-gpu5.txt
evaluation/bresson/logs/22-08-05--20-40-32-n50-gpu5.txt
evaluation/bresson/logs/22-08-05--20-47-51-n50-gpu5.txt
evaluation/bresson/logs/22-08-05--20-55-48-n50-gpu5.txt
evaluation/bresson/logs/22-08-07--16-36-01-n50-gpu5.txt
timechecking.ipynb
configs/__pycache__/tsp50_seg25_exp2.cpython-310.pyc
evaluation/bresson/checkpoint/checkpoint_22-08-05--16-25-19-n50-gpu6.pkl
evaluation/bresson/logs/22-08-05--16-25-19-n50-gpu6.txt

**/logs
**/checkpoint
**/*.pkl
**/*.pt